.u-section-1 {
  background-image: url("images/structurelightledmovement158826.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 532px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 900;
  width: 867px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 867px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 373px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 439px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 286px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 215px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 135px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 763px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-table-1 {
  margin-top: 20px;
  margin-bottom: 59px;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-8d14-4 {
  background-image: none;
}

.u-section-2 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-2 .u-btn-4 {
  padding: 0;
}

.u-section-2 .u-btn-5 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-9 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-10 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-11 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-12 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-13 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-14 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-15 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-16 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-17 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-18 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-19 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-20 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-21 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-22 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-23 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-24 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-25 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-26 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-27 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-28 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-29 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-30 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-31 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-32 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-33 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-34 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-35 {
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-table-cell-36 {
  font-weight: 700;
}

.u-section-2 .u-btn-36 {
  padding: 0;
}