.u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/structurelightledmovement1588261.jpeg");
  background-position: 50% 50%;
  min-height: 500px;
}

.u-section-2-1 .u-text-1 {
  margin: 0 517px 0 518px;
}

.u-section-2-1 .u-image-1 {
  width: 225px;
  height: 225px;
  margin: -79px auto 0 0;
}

.u-section-2-1 .u-text-2 {
  width: 195px;
  margin: -14px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-1 {
    min-height: 412px;
  }

  .u-section-2-1 .u-text-1 {
    margin-top: -660px;
    margin-left: calc(((100% - 1140px) / 2) + 438px);
    margin-right: calc(((100% - 1140px) / 2) + 438px);
  }

  .u-section-2-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 473px);
    margin-right: calc(((100% - 1140px) / 2) + 473px);
  }
}

@media (max-width: 991px) {
  .u-section-2-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 {
    min-height: 237px;
  }

  .u-section-2-1 .u-text-1 {
    margin-top: -613px;
    margin-left: calc(((100% - 1140px) / 2) + 460px);
    margin-right: calc(((100% - 1140px) / 2) + 460px);
  }

  .u-section-2-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 489px);
    margin-right: calc(((100% - 1140px) / 2) + 489px);
  }
}

@media (max-width: 575px) {
  .u-section-2-1 {
    min-height: 149px;
  }

  .u-section-2-1 .u-text-1 {
    margin-top: -445px;
    margin-left: calc(((100% - 1140px) / 2) + 482px);
    margin-right: calc(((100% - 1140px) / 2) + 482px);
  }

  .u-section-2-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 505px);
    margin-right: calc(((100% - 1140px) / 2) + 505px);
  }
}.u-section-2-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/structurelightledmovement1588261.jpeg");
  background-position: 50% 50%;
  min-height: 500px;
}

.u-section-2-2 .u-text-1 {
  margin: 0;
}

.u-section-2-2 .u-image-1 {
  width: 388px;
  height: 217px;
  margin: -79px auto 0 0;
}

.u-section-2-2 .u-text-2 {
  margin: -6px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-2 {
    min-height: 412px;
  }

  .u-section-2-2 .u-text-1 {
    margin-top: -660px;
    margin-left: calc(((100% - 1140px) / 2) + 438px);
    margin-right: calc(((100% - 1140px) / 2) + 438px);
  }

  .u-section-2-2 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 473px);
    margin-right: calc(((100% - 1140px) / 2) + 473px);
  }
}

@media (max-width: 991px) {
  .u-section-2-2 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 {
    min-height: 237px;
  }

  .u-section-2-2 .u-text-1 {
    margin-top: -613px;
    margin-left: calc(((100% - 1140px) / 2) + 460px);
    margin-right: calc(((100% - 1140px) / 2) + 460px);
  }

  .u-section-2-2 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 489px);
    margin-right: calc(((100% - 1140px) / 2) + 489px);
  }
}

@media (max-width: 575px) {
  .u-section-2-2 {
    min-height: 122px;
  }

  .u-section-2-2 .u-text-1 {
    margin-top: -445px;
    margin-left: calc(((100% - 1140px) / 2) + 482px);
    margin-right: calc(((100% - 1140px) / 2) + 482px);
  }

  .u-section-2-2 .u-image-1 {
    width: 340px;
    height: 190px;
  }

  .u-section-2-2 .u-text-2 {
    margin-top: 21px;
    margin-left: calc(((100% - 1140px) / 2) + 505px);
    margin-right: calc(((100% - 1140px) / 2) + 505px);
  }
}.u-section-2-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/structurelightledmovement1588261.jpeg");
  background-position: 50% 50%;
  min-height: 500px;
}

.u-section-2-3 .u-text-1 {
  margin: 0;
}

.u-section-2-3 .u-image-1 {
  width: 200px;
  height: 225px;
  margin: -79px auto 0 0;
}

.u-section-2-3 .u-text-2 {
  margin: -14px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-3 {
    min-height: 412px;
  }

  .u-section-2-3 .u-text-1 {
    margin-top: -660px;
    margin-left: calc(((100% - 1140px) / 2) + 438px);
    margin-right: calc(((100% - 1140px) / 2) + 438px);
  }

  .u-section-2-3 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 473px);
    margin-right: calc(((100% - 1140px) / 2) + 473px);
  }
}

@media (max-width: 991px) {
  .u-section-2-3 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 {
    min-height: 237px;
  }

  .u-section-2-3 .u-text-1 {
    margin-top: -613px;
    margin-left: calc(((100% - 1140px) / 2) + 460px);
    margin-right: calc(((100% - 1140px) / 2) + 460px);
  }

  .u-section-2-3 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 489px);
    margin-right: calc(((100% - 1140px) / 2) + 489px);
  }
}

@media (max-width: 575px) {
  .u-section-2-3 {
    min-height: 149px;
  }

  .u-section-2-3 .u-text-1 {
    margin-top: -445px;
    margin-left: calc(((100% - 1140px) / 2) + 482px);
    margin-right: calc(((100% - 1140px) / 2) + 482px);
  }

  .u-section-2-3 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 505px);
    margin-right: calc(((100% - 1140px) / 2) + 505px);
  }
}.u-section-2-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/structurelightledmovement1588261.jpeg");
  background-position: 50% 50%;
  min-height: 500px;
}

.u-section-2-4 .u-text-1 {
  margin: 0;
}

.u-section-2-4 .u-image-1 {
  width: 187px;
  height: 220px;
  margin: -86px auto 0 0;
}

.u-section-2-4 .u-text-2 {
  margin: -2px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-4 {
    min-height: 412px;
  }

  .u-section-2-4 .u-text-1 {
    margin-top: -660px;
    margin-left: calc(((100% - 1140px) / 2) + 538px);
    margin-right: calc(((100% - 1140px) / 2) + 538px);
  }

  .u-section-2-4 .u-image-1 {
    width: 282px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2-4 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 475px);
    margin-left: calc(((100% - 1140px) / 2) + 573px);
  }
}

@media (max-width: 991px) {
  .u-section-2-4 {
    min-height: 316px;
  }

  .u-section-2-4 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 492px);
    margin-left: calc(((100% - 1140px) / 2) + 648px);
  }

  .u-section-2-4 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2-4 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 365px);
    margin-left: calc(((100% - 1140px) / 2) + 683px);
  }
}

@media (max-width: 767px) {
  .u-section-2-4 {
    min-height: 237px;
  }

  .u-section-2-4 .u-text-1 {
    margin-top: -613px;
    margin-right: calc(((100% - 1140px) / 2) + 380px);
    margin-left: calc(((100% - 1140px) / 2) + 760px);
  }

  .u-section-2-4 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2-4 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 275px);
    margin-left: calc(((100% - 1140px) / 2) + 789px);
  }
}

@media (max-width: 575px) {
  .u-section-2-4 {
    min-height: 149px;
  }

  .u-section-2-4 .u-text-1 {
    margin-top: -445px;
    margin-right: calc(((100% - 1140px) / 2) + 258px);
    margin-left: calc(((100% - 1140px) / 2) + 882px);
  }

  .u-section-2-4 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2-4 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 174px);
    margin-left: calc(((100% - 1140px) / 2) + 905px);
  }
}.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 170px;
  margin: 30px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  line-height: 28.8px;
  margin: 0 -30px;
}

.u-section-1 .u-text-4 {
  margin: 20px -30px 0;
}

.u-section-1 .u-text-5 {
  margin: 20px -30px 0;
}

.u-section-1 .u-btn-1 {
  margin-left: 0;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-text-1 {
    width: 395px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    width: 300px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-block-b67f-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-b67f-3 {
  position: absolute;
  left: 0;
}

.u-block-b67f-4 {
  position: absolute;
  right: 0;
}