.u-section-1 {
  background-image: url("images/structurelightledmovement158826.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 532px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 900;
  width: 867px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 867px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 373px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 439px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 286px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 215px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 135px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 464px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-table-1 {
  margin: 20px auto 59px 0;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-7f7a-4 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}